#myInput {
    background-image: url('search.png'); 
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
	background-size: 25px;
    width: 100%; 
    font-size: 16px;
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-bottom: 12px;
	margin-left: auto;
}

.header {
    background-color: #212121;
    color: #ffffff;
	font-size:25px;
    padding: 15px;
}

.footer {
    background-color: #212121;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    padding: 15px;
}

#suppr {
	color:red;
}

@media screen and (min-width : 992px){
.navbar-brand{
	display:none;
}
}